:root {
    /* fonts */
    --font-page: Trebuchet MS;
    --font-heading: Georgia, serif;
    /* colors */
    --background: rgb(233, 242, 253);
    --dark-blue: rgb(19, 76, 142);
    --light-blue: rgb(182, 213, 244);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: var(--font-page), sans-serif;
}

h1 {
    background-color: var(--dark-blue);
    color: white;
    text-align: center;
    padding: 1rem;
    font-family: var(--font-heading), serif;
}

#filter-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 1rem;
    background-color: var(--light-blue);
    color: black;
    font-family: var(--font-page), sans-serif;
    font-weight: 500;
    text-align: center;
    margin: 1rem;
    border-radius: 10px;
    width: 80%;
}

#cards {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
    grid-gap: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    padding: 1rem;
    max-width: 400px;
    border-radius: 10px;
    border: black 1px solid;
}

.current {
    background-color: var(--light-blue);
}

h2 {
    font-family: var(--font-heading), serif;
    color: var(--dark-blue);
    text-align: center;
    padding: 1rem;
}

p {
    font-family: var(--font-page), sans-serif;
    text-align: center;
}

img {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

footer {
    padding: 1rem 1rem 4rem 1rem;
    margin-top: 1rem;
    text-align: center;
    background-color: var(--dark-blue);
    color: white;
}

/* Formatting for large view ports above 428px wide */
@media (min-width: 506px) {
    #filter-buttons {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    button {
        width: 30%;
    }
}

/* Formatting for large view ports above 768px wide */
@media (min-width: 768px) {

    button {
        width: 25%;
    }

    #cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        margin: 1rem;
        align-items: stretch;
    }
}