:root {
    /* fonts */
    --font-heading: "Jost", sans-serif;
    --font-page: Verdana, Geneva, Tahoma, sans-serif;
    /* colors */
    --red: #c60101;
    --camel: #975C26;
    --camel-light: #f4edd8;
    --green: #007a38;
    --green-light: #ecf8f2;
}

.bold {
    font-weight: bold;
}

body {
    font-family: var(--font-page), sans-serif;
}

main {
    min-height: 800px;
}

h1, h2, h3 {
    font-family: var(--font-heading), sans-serif;
    text-align: center;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: var(--green);
    font-weight: 700;
}

h2 {
    color: var(--green);
    font-size: 1.8em;
}

h3 {
    color: var(--red);
    font-size: 1.4em;
    text-align: center;
    background-color: white;
}

/* --------------------------------------------- HEADER -------------------------------------------- */

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
}

#logo-mini, #logo {
    border: none;
    background-color: white;
    box-shadow: none;
    margin: 0;
}

#logo-mini {
    max-width: 80px;
    height: auto;
    padding-left: 1rem;
}

#logo {
    display: block; /* Ensures it's treated as a block element */
    margin: 0 auto; /* Centers the image horizontally */
    max-width: 80%; /* Adjust the size to prevent overflow */
    height: auto;
    padding: 1rem;
}

#header-stripe {
    background-color: white;
    border-bottom: 8px dashed var(--red);
}

#join-button {
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    background-color: var(--camel-light);
}

/* --------------------------------------------- NAVIGATION -------------------------------------------- */

/* hamburger button */
#ham-button {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: black;
}

/* appearance for the hamburger menu button when open class is off */
#ham-button::before {
    content: "☰";
    font-size: 40px;
}

/* appearance for the button when open class os on */
#ham-button.open::before {
    content: "x";
}

.nav-bar {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: large;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

/* State when the nav-bar is open */
.nav-bar.open {
    max-height: 400px;
    opacity: 1;
}

.nav-bar a {
    display: none;
    padding: 1rem;
    color: black;
    font-family: var(--font-page), sans-serif;
    text-decoration: none;
    text-align: center;
    z-index: 2;
    margin-right: 0;
    cursor: pointer;
}

/* class toggled in JS */
.open a {
    display: block;
}

nav a:hover {
    color: black;
    font-weight: 700;
}

/* classes toggled in JS */
.active::before {
    content: "<";
    padding-right: 1rem;
}

.active::after {
    content: ">";
    padding-left: 1rem;
}

/* ------------------------------------------- HOME PAGE ------------------------------------------- */

#hero {
    position: relative;
}

#hero > h2 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    border-radius: 20px;
    border: 4px solid var(--green);
    height: 95%;
}

/* --------------------------------------------- TABLE ---------------------------------------------- */

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 11px;
    overflow: hidden;
}

tr, th, td {
    padding: 1rem;
    border: none;
}

tr:nth-child(even) {
    background-color: white;
}

/* Style for even rows */
tr:nth-child(even) {
    background-color: var(--green-light);
}

table, thead, tbody, th, tr {
    display: block;
}

td {
    display: flex;
    justify-content: center;
}

/* ----------------------------------------- WORKSHOPS PAGE ----------------------------------------- */


.workshop-button {
    font-family: var(--font-heading), serif;
    background-color: var(--red);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    width: 100%;
}

#buttons {
    display: flex;
    width: 100%;
}

.workshop-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    border-radius: 20px;
    border: 4px solid var(--green);
    height: 95%;
}

a.workshop-link {
    text-decoration: none;
    color: black;
}

a.workshop-link:hover {
    background: none;
    font-weight: 400;
}

.workshop-img {
    width: 100%;
    border: 6px solid white;
    box-shadow: 5px 5px 5px rgb(147, 147, 147);
}

.active {
    font-weight: 900;
    background-color: var(--camel-light);
}

/* ---------------------------------------------- FORM --------------------------------------------- */

#form-main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#workshop-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 0 .2rem black;
    border-radius: 11px;
    border: 1px solid rgb(0 0 0 / 0.8);
}

#form-heading {
    text-align: center;
    background-color: var(--teal);
    padding: 1rem;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    padding: .5rem 1rem;
    border: none;
}

.input-title {
    display: block;
    padding-top: 1.4rem;
    color: var(--green);
    font-family: var(--font-page), sans-serif;
    font-size: 1.2em;
}

.aform input[type="text"],
.aform input[type="email"] {
    background-color: #efefef;
    display: block;
    border: solid 1px var(--teal);
    border-radius: 6px;
    padding: 0.75rem;
    color: #4e4e4e;
    font-family: var(--font-text), sans-serif;
    font-size: 1em;
    width: 100%;
    max-width: 380px;
    appearance: none;
    text-align: left;
}

/* Submit Button */
.aform input[type="submit"] {
    border: 1px solid var(--green);
    background-image: linear-gradient(var(--green-light), var(--green));
    color: black;
    font-family: var(--font-heading), serif;
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    max-width: 380px;
    box-shadow: 1px 1px 4px #999;
    font-size: 1.5em;
    margin-top: 2rem;
}

/* Hint for required Fields */
.aform input:required,
.aform select:required {
    border-left: solid 8px red;
}

/* Hint for required Fields that contain vaild input */
.aform input:required:valid,
.aform select:required:valid {
    border-left: solid 8px green;
}

/* --------------------------------------------- FOOTER -------------------------------------------- */

#footer-stripe {
    background-color: white;
    border-top: 8px dashed var(--green);
}

footer {
    background-color: black;
    color: white;
    padding: 0 1rem 6rem 1rem;
    text-align: center;
    font-size: 1em;
    font-family: var(--font-page), sans-serif;
}

/* Formatting for large view ports above 350px wide */
@media (min-width: 350px) {

    h1 {
        top: 5px;
        right: 20px;
        font-size: 3em;
    }

    #logo-mini {
        max-width: 100px;
    }

}

/* Formatting for large view ports above 768px wide */
@media (min-width: 768px) {

    h1 {
        position: absolute;
        left: 50%;
        top: 5px;
        transform: translateX(-50%);
        text-align: center;
    }

    #logo {
        max-width: 800px;
    }
}