:root {
    /* fonts */
    --font-heading: "Jost", sans-serif;
    --font-page: Verdana, Geneva, Tahoma, sans-serif;
    /* colors */
    --red: #c60101;
    --camel: #975C26;
    --camel-light: #fff2e0;
    --green: #007a38;
    --green-light: #ecf8f2;
}

.bold {
    font-weight: bold;
}

body {
    font-family: var(--font-page), sans-serif;
}

main {
    min-height: 800px;
}

/* --------------------------------------------- HEADER -------------------------------------------- */

header {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

#header-div {
    background-color: white;
    border-bottom: 8px dashed var(--red);
}

#logo-mini, #logo {
    border: none;
    background-color: white;
    box-shadow: none;
    margin: 0;
}

#logo-mini {
    max-width: 80px;
    height: auto;
    position: absolute;
    left: 20px;
}

h1 {
    position: absolute;
    right: 15px;
    top: 15px;
    text-align: center;
}

#logo {
    display: block; /* Ensures it's treated as a block element */
    margin: 0 auto; /* Centers the image horizontally */
    max-width: 80%; /* Adjust the size to prevent overflow */
    height: auto;
    padding: 1rem;
}

h1, h2, h3 {
    font-family: var(--font-heading), sans-serif;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: var(--green);
    font-weight: 700;
}

h2 {
    color: var(--green);
    font-size: 1.8em;
}

h3 {
    color: var(--red);
    font-size: 1.4em;
    text-align: center;
    background-color: white;
}

/* --------------------------------------------- NAVIGATION -------------------------------------------- */

/* hamburger button */
#ham-button {
    grid-column: 2 / 3;
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: black;
}

/* appearance for the hamburger menu button when open class is off */
#ham-button::before {
    content: "☰";
    font-size: 40px;
}

/* appearance for the button when open class os on */
#ham-button.open::before {
    content: "x";
}

.nav-bar {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    font-weight: 500;
    font-size: large;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

/* State when the nav-bar is open */
.nav-bar.open {
    max-height: 400px;
    opacity: 1;
}

.nav-bar a {
    display: none;
    padding: 1rem;
    background-color: var(--green-light);
    color: black;
    font-family: var(--font-page), sans-serif;
    text-decoration: none;
    text-align: center;
    z-index: 2;
    margin-right: 0;
    cursor: pointer;
}

/* class toggled in JS */
.open a {
    display: block;
}

nav a:hover {
    background-color: var(--camel-light);
    color: black;
    font-weight: 700;
}

/* classes toggled in JS */
.active::before {
    content: "<";
    padding-right: 1rem;
}

.active::after {
    content: ">";
    padding-left: 1rem;
}

.selected {
    border-color: var(--red);
    color: var(--camel-light);
    font-weight: 700;
}

/* --------------------------------------------- FOOTER -------------------------------------------- */

#footer-div {
    background-color: white;
    border-top: 8px dashed var(--red);
}

footer {
    background-color: var(--green);
    color: white;
    padding: 1rem 1rem 6rem 1rem;
    text-align: center;
    font-size: 1em;
    font-family: var(--font-page), sans-serif;
}

/* Formatting for large view ports above 350px wide */
@media (min-width: 350px) {

    h1 {
        top: 5px;
        right: 20px;
        font-size: 3em;
    }

    #logo-mini {
        max-width: 100px;
    }

}

/* Formatting for large view ports above 768px wide */
@media (min-width: 768px) {

    h1 {
        position: absolute;
        left: 50%;
        top: 5px;
        transform: translateX(-50%);
        text-align: center;
    }

    #logo {
        max-width: 800px;
    }
}